:root {
    --bg-orange: #f78400;
    --text-lit :#c1c1c1;
    --bg-lights: #eee;
    --bg-footer: #04b0fa;
}
.h5-orange {
    color: var(--bg-orange);
}
.btn-orange {
    background: var(--bg-orange);
    color: #fff;
    font-family: 'Almarai', sans-serif;
    font-family: 'Cairo', sans-serif;
}

.bg-footer {
    background: var(--bg-footer);
}

.te-light {
    color: var(--text-lit);
}

.bg-lights {
    background: var(--bg-lights);
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Almarai', sans-serif;
    font-family: 'Cairo', sans-serif;
}
h5 {
    font-family: 'Almarai', sans-serif;
    font-family: 'Cairo', sans-serif;
}

.font {
    font-family: 'Almarai', sans-serif;
    font-family: 'Cairo', sans-serif;
}

a:hover {
    color: var(--bg-orange);
}
/* header */
.header_md {
    height: 120px;
}
.header_sm { display: none; }

.search {
    width: 535px;
}

.search form input[type="text"] {
    height: 42px;
    border-radius: 7px;

}

.search_input {
    position: relative;
}

.search_span {
    position: absolute;
    top: 10px;
    left: 12px;
}

.nav {
    float: right;
    margin-right: 60px;
    margin-top: 10px;
    margin-bottom: -10px;
}

.nav ul {
    list-style: none;
}

.nav ul li {
    display: inline-block;
    margin: 0px 15px 0 15px;
}

.nav ul li a {
    color: #000;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 900px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    padding: 20px 20px 20px 25px;
    border-radius: 15px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.card-wrapper .card {
    border-radius: 8px;
    background-color: #fff;
    width: 100px;
    height: 145px;
}

.card-image {
    position: relative;
    height: 50px;
    width: 50px;
    margin-bottom: -10px;
}

.card-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
    margin-bottom: -1px;
    margin-top: -8px;
}

.nav-sm {
    display: none;
}

.card {
    box-shadow: 3px 3px 6px #f3f0f0, -2px -2px 6px #f3f0f0;
    border: none;
}
/* // header */


@media screen and (min-width: 600px) and (max-width: 1200px) {
    .search {
        width: 190px;
    }
    .main_header {
        width: 100%;
        height:280px;
    }

    .main_search { display: none; }

    .sm-light {
        font-size: 10px;
        padding: 5px;
    }

    .slide-content-car .card{
        width: 25rem;
    }

    .p-sm {
        font-size: 12px;
        margin-top: 5px;
    }

    .table {
        font-size: 12px;
    }

    .text-media {
        text-align: center;
    }

    .footer-media {
        display: flex;
        justify-content: center;
    }

    .search {
        width: 190px;
    }
    .main_header {
        width: 100%;
        height:280px;
    }
}


@media screen and (max-width: 599px){
    .header_md {  display: none;  }
    .header_sm {
        display: flex;
        padding: 10px 0 0 0;
        width: 100%;
        height: 65px;
        margin-bottom: 15px;
        box-shadow: 3px 3px 8px #dddddd;
        background: white;
    }
    .header-sm-image {
        margin-right: 12%;
    }


    .nav-sm {
        display: flex;
    }


    .nav-sm ul {
        list-style: none;
    }

    .nav-sm ul li {
        display: inline-block;
        font-size: 10px;
        margin: 5px;
    }

    .nav-sm .home {
        width: 60px;
        height: 60px;
        background: var(--bg-orange);
        border-radius: 100%;
        padding: 10px 10px 10px 15px;
        margin-top: -4%;
    }

    .nav-sm .home a{
        color: #fff;
    }
    .nav-sm .home a span {
        margin-left: 7px;
    }
    .nav-sm .home a p {
        margin-left: 3px;
    }

    .nav-sm-item {
        width: 60px;
        height: 60px;
        padding: 10px 10px 10px 15px;
        margin-top: -30px;
        text-align: center;
    }

    .nav-sm-item a {
        color: var(--text-lit);
    }

    .nav-sm-item a i{
        margin-left: 5px;
    }

    /* // header */

    .carousel-indicators {
        top: 107%;
    }

    .main_header {
        width: 100%;
        height:160px;
        margin-bottom: 20px;
    }

    .btn-outline-orange {
        border-radius: 100px;
        border: 1px var(--bg-orange) solid;
        height: 40px;
        width: 110px;
        background: #fff;
        padding: 2px;
        font-family: 'Almarai', sans-serif;
        font-family: 'Cairo', sans-serif;
    }

    .span_btn {
        background: var(--bg-orange);
        color: #fff;
        border-radius: 100%;
        margin-left:  10px;
        padding: 5px 12px 5px 12px;
    }

    .w3-sidebar {
        width: 100%;
        height: 100%;
        background: #f4f4f4;
    }

    .user_sm {
        background: #fff;
        box-shadow: 5px 5px 8px  #dddddd;
    }

    button{
        font-family: 'Almarai', sans-serif;
        font-family: 'Cairo', sans-serif;
    }

    .user img {
        border-radius: 100%;
        width: 50px;
        height: 50px;
    }

    .div_ul_sidebar {
        background: #fff;

    }

    .ul_sidebar {
        float: right;
        list-style: none;
        text-align: end;
    }
    .ul_sidebar li {
        margin: 30px;
    }

    .ul_sidebar li a {
        color: #000;
    }

    .slide-content-new {
        font-size: 8px;
    }

    .slide-content-new .swiper-wrapper .swiper-slide {
        width: 400px
    }
    /* main */



}
