:root {
    --bg-orange: #f78400;
    --text-lit :#c1c1c1;
    --bg-lights: #eee;
    --bg-footer: #04b0fa;
}
.h5-orange {
    color: var(--bg-orange);
}
.btn-orange {
    background: var(--bg-orange);
    color: #fff;
    font-family: 'Almarai', sans-serif;
    font-family: 'Cairo', sans-serif;
}

.bg-footer {
    background: var(--bg-footer);
}

.te-light {
    color: var(--text-lit);
}

.bg-lights {
    background: var(--bg-lights);
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Almarai', sans-serif;
    font-family: 'Cairo', sans-serif;
}
h5 {
    font-family: 'Almarai', sans-serif;
    font-family: 'Cairo', sans-serif;
}


/* main */

.card {
    box-shadow: 3px 3px 6px #f3f0f0, -2px -2px 6px #f3f0f0;
    margin: 15px 0 15px 0;
    border: none;
}

.slide-container {
    max-width: 90%;
    width: 100%;
    margin-top: 20px;
}

.slide-content{
    margin: 0 40px;
}

.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.card-wrapper .card {
    border-radius: 8px;
    background-color: #fff;
    width: 100px;
    height: 145px;
}

.card-image {
    position: relative;
    height: 90px;
    width: 90px;
    margin-bottom: -10px;
}

.card-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.swiper-button-next:hover {
    color: var(--bg-orange);
}

.swiper-button-prev:hover {
    color: var(--bg-orange);
}

.slide-container-car {
    width: 100%;
    margin-top: 10px;
}

.car-adv b {
    position: relative;
}

.car-adv b::before {
    content: '';
    position: absolute;
    width: 100%;
    border-bottom: 2px #2196F3 solid;
    bottom: -3px;
    border-radius: 5px;
}

.angle-car {
    width: 120px;
    height: 35px;
    border-radius: 50px;
    background: #bce1fe;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.angle-car-left {
    background: #fff;
    padding: 0 0 0 8px;
    width: 25px;
    color: #2196F3;
    border-radius: 50px;
}

.angle-car-right {
    background: #fff;
    padding: 0 0 0 10px;
    width: 25px;
    color: #2196F3;
    border-radius: 50px;
}

.adv {
    width: 100%;
    height: 120px;
    background: #dddddd;
}

.col-md-3 {
    padding: 0;
}

.sidebar {
    box-shadow: 3px 3px 6px #f3f0f0, -2px -2px 6px #f3f0f0;
    border-radius: 8px;
    padding: 10px 5px;
}

.sidenav {
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 0px;
}

.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    cursor: pointer;
    outline: none;
}

.sidenav a:hover, .dropdown-btns:hover {
    background-color: #f1f1f1;
}

.active {
    background-color: green;
    color: white;
}

.dropdown-container {
    display: none;
    background-color: #f1f1f1;
    padding-left: 8px;
    transform: 0.3s;
    height: 100%;
    max-height: 200px;
    overflow-y: scroll;
    border-radius: 5px;
}

.dropdown-container::-webkit-scrollbar {
    width: 10px;
    background: var(--bg-orange);
    border-radius: 0 5px 5px 0;
}

.dropdown-container::-webkit-scrollbar-thumb {
    background: var(--text-lit);
    border-radius: 10px;
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
}

@media screen and (max-height: 599px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* // main */
@media screen and (max-width: 599px) {

    .adv {
        width: 100%;
        height: 90px;
        background: #dddddd;
    }

    .sidebar-sm {
        display: none;
    }

}
